*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    justify-content: center;
    background-color:  hsl(235, 16%, 14%);
    background-image: url("images/bg-stars.svg");
    font-size: 14px;
    font-family: Red Hat Text;
}
.container{
    text-align: center;
    text-transform: uppercase;
    margin-top: 80px;
}
.container h3{
    color:  hsl(0, 0%, 100%);
    margin-bottom: 20px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.countdown{
display: flex;
justify-content: center;
margin: 20px;
cursor: pointer;
}
.countdown p{
    color: hsl(345, 95%, 68%);
    margin-bottom: 10px;
    /* justify-content: space-between; */
    border-radius: 10px;
    background-color: hsl(236, 21%, 26%);
    padding: 25px;
    margin: 5px;
    font-size: 25px;
}

.countdown h5{
color: hsl(237, 18%, 59%);
padding: 10px;
letter-spacing: 3px;

}
.socialicons{
    display: flex;
    position: absolute;
    bottom: 0;
    z-index:10;
    left:50% ;
    gap: 20px;
    margin-bottom: 30px;
     p:hover{
        background-color: hsl(345, 95%, 68%);
    }
}
.footer{
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 375px) {
    .footer{
        src: url("images/pattern-hills.svg");
        width: 370px;
    }
}